body
  color: #111
  background: #fff

body
  background: $background
  color: $text
  font-size: 18px
  margin: auto
  max-width: 900px

a
  color: $accent
  text-decoration: none
  font-size: 1em
  -webkit-transition: all 0.2s
  -moz-transition: all 0.2s
  -o-transition: all 0.2s
  -ms-transition: all 0.2s
  transition: all 0.2s

  &:visited
    color: $accentDarker

  &:hover
    color: $contrast
    border-color: $contrast



p,
span
  line-height: 1.6

h1
  font-size: 2em
  margin-bottom: 30px

strong
  font-weight: bold

  a
    border: none

p, h4
  + ul
    margin-top: -15px
