$font: "Georgia", serif

$text: #ebebeb
$background: #2e4676
$accent: #c89bdb
$accentDarker: #ae9ec2
$contrast: #fcd174
$gray: #949494
$darkGray: #555555
$black: #000

$above: "only screen and (min-width: 600px)"
$below: "only screen and (max-width: 600px)"
$small: "only screen and (max-width: 400px)"
