---
---

@import "{{ site.theme }}";
@import "variables";
@import "home";
@import "section";


.site-title {
    font-weight: normal;
    color: $accent !important;
}

.site-nav {
    @include media-query($on-palm) {
        background-color: $accent;
        border: 1px solid $darkGray;

        .menu-icon > svg {
            fill: $darkGray;
        }
    }
}

.page-link {
    color: $text !important;
}

header {
    border-top: none !important;
}

.post-title {
    font-size: 30px;
}

.post-header {
    margin-bottom: 20px;
}

.post-meta {
    color: $gray;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.post-listing {
    display: flex;
    justify-content: normal;
    align-items: baseline;
    gap: 10px;
}

.post-list li {
    margin-bottom: 0px;
}

hr {
    margin-bottom: 15px;
}

h3 {
    margin-top: 25px;
}

// spoiler logic largely copied from mh-2023 repo
.spoiler {
    background: $black;
    border-radius: 4px;
    padding: 0 4px;
}

.spoiler, .spoiler a {
    transition: all 300ms ease-in-out;
}

.spoiler:not(:hover),
.spoiler:not(:hover) a { /* important to override links */
    color: $black;
}

.spoiler:hover,
.spoiler:focus {
    background: rgba(0, 0, 0, 0.2);
}